{% extends "base.html" %}
{% load release_helpers %}
{% block title %}{{ tag.get_id|escape }} - tag page at music.aergia.eu{% endblock %}
{% block header %}
<h1>“<a href="{% url show-tag tag.get_id|escape %}">{{ tag.get_id|escape }}</a>” <small>tag</small></h1>

{% endblock %}
{% block content %}
<section class="generic nineforty end search-results" id="tag-artists">
{% if tag.cache_state %}
<h1>Top artists</h1>
<ul class="twocols">
    {% for artist in tag.artists %}
    <li><a href="{% url show-artist artist.name|slugify2 artist.mbid %}">{{ artist.name|addtypography }}</a></li>
    {% endfor %}
</ul>
{% else %}
Sorry, no data about this tag is avaiable at the moment..  <big> :'-( </big>
{% endif %}
</section>
{% endblock %}
