{% extends "base.html" %}
{% load release_helpers %}
{% load universal_abstract %}
{% load related_websites %}
{% block title %}“{{ release.title }}” release page at mmda{% endblock %}
{% block header %}

<h1>“{{ release.title }}”</h1>
    <small>by <a href="{% url show-artist uri_artist, release_group.artist_mbid %}">{{ release_group.artist_name }}</a></small>
</h1>

{% endblock %}
{% block content %}

<section class="generic fiveeighty">
{% abstract_for release_group %}

<h1>Track listing</h1>
{% if release.cover %}<img src="{{ release.cover|coralize }}" alt="artwork" width="160" height="160" class="right-float" />{% endif %}
<ol>
    {% for track in release.tracks %}
    <li><small>[{{ track.duration|default:"?:??" }}]</small> {{ track.title }}</li>
    {% endfor %}
</ol>

{% if release.release_events  %}
<h1>Release events:</h1>
<ul>
    {% for event in release.release_events %}
    <li>{{ event.date }} {{ event.country }} {{ event.format }}</li>
    {% endfor %}
</ul>
{% endif %}
</section>


<section class="generic threeforty end">
{% urls_for release mbid %}

{% if release.remaster_of or release.remasters or release.set_prev or release.set_next %}
<h1>Relations with other releases:</h1>

{% if release.set_prev %}previous in set: <a href="{% url show-release uri_artist release.set_prev.title|slugify2 release.set_prev.mbid %}">{{ release.set_prev.title }}</a> {% endif %}
{% if release.set_next %}next in set: <a href="{% url show-release uri_artist release.set_next.title|slugify2 release.set_next.mbid %}">{{ release.set_next.title }}</a> {% endif %}

{% if release.remasters %}
    This release has remastered versions:
    <ul>
    {% for remaster in release.remasters %}
    <li><a href="{% url show-release uri_artist remaster.title|slugify2 remaster.mbid %}">{{ remaster.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if release.remaster_of %}
This is a remastered version of
<a href="{% url show-release uri_artist release.remaster_of.title|slugify2 release.remaster_of.mbid %}">{{ release.remaster_of.title }}</a>
{% endif %}

{% endif %}






{% if release.credits %}
<h1>Credits:</h1>
{% regroup release.credits|dictsort:"type" by type as credits %}
<ul>
{% for credit_type in credits %}
<li>{{ credit_type.grouper|spacecamel|lower }}: 
    {% for credit_artist in credit_type.list %}
    <a href="{% url show-artist credit_artist.name|slugify2 credit_artist.mbid %}">{{ credit_artist.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</li>
{% endfor %}
</ul>
{% endif %}


{% if not release_group.releases.items|length_is:"1" %}
<h5>Alternative track listings</h5>
<ul>
{% for alt_mbid,alt_release in release_group.releases.items %}
    {% ifnotequal alt_release release %}
    <li><a href="{% url show-release uri_artist, alt_release.title|slugify2, alt_mbid %}">{{ alt_release.title }}</a> {{alt_release.}} <small>({{alt_release.tracks_count}} tracks)</small></li>
    {% endifnotequal %}
{% endfor %}

</ul>
{% endif %}

</section>

{% endblock %}
