{% extends "base.html" %}
{% load release_helpers %}
{% load universal_abstract %}
{% load related_websites %}
{% load tag_cloud %}
{% block title %}{{ artist.name }} - artist page at music.aergia.eu{% endblock %}
{% block header %}
<h1>motherfuckin' artist</h1>
<h2>{{artist.name}}</h2>
{% ifnotequal artist.artist_type 'Unknown' %}{{ artist.artist_type|lower }}{% endifnotequal %}
{% if artist.disambiguation %}<h4>{{artist.disambiguation}}</h4>{% endif %}
{% if artist.aliases %}also known as: <em>{{ artist.aliases|join:", " }}</em>{% endif %}
{% if artist.dates %}
<p>
{% ifnotequal artist.artist_type 'Person' %}active{% endifnotequal %}
{% if artist.dates.from %}{% ifequal artist.artist_type 'Person' %}born {% else %}from {% endifequal %} <em>{{ artist.dates.from }}</em>{% endif %}
{% if artist.dates.to %}{% ifequal artist.artist_type 'Person' %}died {% else %}to {% endifequal %} <em>{{ artist.dates.to }}</em>{% endif %}
</p>
{% endif %}

<h5>Subpages</h5>
<ul>
    <li><a href="{% url show-artist-pictures uri_artist mbid %}">Pictures</a></li>
    <li><a href="{% url show-artist-videos uri_artist mbid %}">Videos</a></li>
</ul>
{% endblock %}
{% block content %}


<div style="float:right;width:252px;border:1px solid #888">
<p>
{% for image in artist_pictures %}
    {% if forloop.first %}
    <a href="{{ image.url }}"><img src="{{ image.big|coralize }}" width="252" alt="{{ image.title }}" style="float:right" /></a><br>

    {% tag_cloud_for artist.tags %}

    {% else %}
    <a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="126" height="126" alt="{{ image.title }}" style="float:right" /></a>
    {% endif %}
{% endfor %}
</p>
</div>

{% abstract_for artist %}

{% urls_for artist artist._id %}

{% if artist.members %}
<h5>Members:</h5>
<ul>
    {% for member in artist.members %}
    <li><a href="{% url show-artist member.name|slugify2 member.mbid %}">{{ member.name }}</a>
    <small>{% if member.from %} from {{ member.from }} {% endif %} {% if member.to %} to {{ member.to }}{% endif %}</small>
    </li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}


{% if artist.member_of %}
<h5>Member of:</h5>
<ul>
    {% for member in artist.member_of %}
    <li><a href="{% url show-artist member.name|slugify2 member.mbid %}">{{ member.name }}</a>
    <small>{% if member.from %} from {{ member.from }} {% endif %} {% if member.to %} to {{ member.to }}{% endif %}</small>
    </li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

{% if artist.collaborations %}
<h5>Collaborated on:</h5>
<ul>
    {% for project in artist.collaborations %}
    <li><a href="{% url show-artist project.name|slugify2 project.mbid %}">{{ project.name }}</a></li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

{% if artist.collaboration_of %}
<h5>Is a collaboration of:</h5>
<ul>
    {% for project in artist.collaboration_of %}
    <li><a href="{% url show-artist project.name|slugify2 project.mbid %}">{{ project.name }}</a></li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

<h5>Release groups:</h5>
    {% regroup primary_releases|dictsort:"release_type" by release_type as releases_by_type %}
    {% for type in releases_by_type %}
    <h6>{{ type.grouper }}</h6>
        <ul>
        {% for release in type.list|inclusivedictsort:"year" %}
        <li><small>({{ release.year|trim|default:"____" }})</small> <a href="{% url show-release artist.name|slugify2, release.title|slugify2, release.mbid %}">{{ release.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}


<h5>Similar artists:</h5>
<ul>
    {% for similar_artist in artist.similar %}
    <li><a href="{% url show-artist similar_artist.name|slugify2 similar_artist.mbid %}">{{ similar_artist.name }}</a> ~{{similar_artist.score|percentage:100}}</li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>


{% endblock %}
