{% extends "base.html" %}
{% load release_helpers %}
{% load universal_abstract %}
{% load related_websites %}
{% load tag_cloud %}
{% block bodytag %}<body id="a-profile">{% endblock %}
{% block title %}{{ artist.name }} - artist page at music.aergia.eu{% endblock %}
{% block meta %}
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/artist/{{ uri_artist }}/news/{{ mbid}}/feed/" />
<meta name="robots" content="index,nofollow,noarchive"/>
{% endblock %}
{% block header %}
<h1><a href="{% url show-artist uri_artist mbid %}">{{ artist.name|addtypography }}</a>
    <small>artist profile</small>
</h1>
{% endblock %}

{% block navigation %}{% include "artists/artistnav.html" %}{% endblock %}

{% block content %}

<section class="generic fiveeighty clear">

{% if artist_pictures %}
<div class="artistgfx">
{% for image in artist_pictures %}
<a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="126" height="126" alt="{{ image.title }}"/></a>
{% endfor %}
</div>
{% endif %}

{% abstract_for artist %}

{% if primary_releases %}
<h1>Releases</h1>
    {% regroup primary_releases|dictsort:"release_type" by release_type as releases_by_type %}
    {% for type in releases_by_type %}
    <h6>{{ type.grouper }}</h6>
        <ul>
        {% for release in type.list|inclusivedictsort:"year" %}
        <li><small>({{ release.year|trim|default:"____" }})</small> <a href="{% url show-release artist.name|slugify2, release.title|slugify2, release.mbid %}">{{ release.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

</section>
<section class="generic threeforty end">
{% if artist.disambiguation or artist.dates or artist.aliases %}
<h1>{% if artist.artist_type %}{{ artist.artist_type }}{% else %}Artist{% endif %}</h1>
<ul>
    {% if artist.disambiguation %}<li>{{artist.disambiguation}}</li>{% endif %}
    {% if artist.aliases %}<li>also known as: <em>{{ artist.aliases|join:", " }}</em></li>{% endif %}
{% if artist.dates %}
<li>{% ifnotequal artist.artist_type 'Person' %}active{% endifnotequal %}
{% if artist.dates.from %}{% ifequal artist.artist_type 'Person' %}born {% else %}from {% endifequal %} <em>{{ artist.dates.from }}</em>{% endif %}
{% if artist.dates.to %}{% ifequal artist.artist_type 'Person' %}died {% else %}to {% endifequal %} <em>{{ artist.dates.to }}</em>{% endif %}
</li>
{% endif %}
</ul>
{% endif %}

{% urls_for artist artist._id %}

{% if artist.tags %}
<h1>Folksonomy</h1>
{% tag_cloud_for artist.tags %}
{% endif %}

{% if artist.members or  artist.member_of  or artist.collaborations or  artist.collaboration_of  %}
<h1>Relationships</h1>
{% if artist.members %}
<h2>Members:</h2>
<ul>
    {% for member in artist.members %}
    <li><a href="{% url show-artist member.name|slugify2 member.mbid %}">{{ member.name }}</a>
    <small>{% if member.from %} from {{ member.from }} {% endif %} {% if member.to %} to {{ member.to }}{% endif %}</small>
    </li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}


{% if artist.member_of %}
<h2>Member of:</h2>
<ul>
    {% for member in artist.member_of %}
    <li><a href="{% url show-artist member.name|slugify2 member.mbid %}">{{ member.name }}</a>
    <small>{% if member.from %} from {{ member.from }} {% endif %} {% if member.to %} to {{ member.to }}{% endif %}</small>
    </li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

{% if artist.collaborations %}
<h2>Collaborated on:</h2>
<ul>
    {% for project in artist.collaborations %}
    <li><a href="{% url show-artist project.name|slugify2 project.mbid %}">{{ project.name }}</a></li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

{% if artist.collaboration_of %}
<h2>Is a collaboration of:</h2>
<ul>
    {% for project in artist.collaboration_of %}
    <li><a href="{% url show-artist project.name|slugify2 project.mbid %}">{{ project.name }}</a></li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
{% endif %}

{% endif %}
</section>


{% if artist.similar %}
<section class="generic nineforty clear">
<h1>Similar artists</h1>
<ul>
    {% for similar_artist in artist.similar %}
    <li><a href="{% url show-artist similar_artist.name|slugify2 similar_artist.mbid %}">{{ similar_artist.name }}</a> ~{{similar_artist.score|percentage:100}}</li>
    {% empty %}
    <li> no info </li>
    {% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
