{% extends "base.html" %}
{% load release_helpers %}

{% block bodytag %}<body id="a-videos">{% endblock %}
{% block title %}{{ artist_videos.artist_name }} - artist videos page at music.aergia.eu{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.1.css" media="screen" />
    <script src="/static/fancybox/jquery.easing-1.3.pack.js"></script>
    <script src="/static/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
{% endblock %}

{% block jquery %}
    $(".gfx img").lazyload({
        placeholder : "/static/empty.gif",
        effect      : "fadeIn"
    });
    $('.gfx li > a[href^=http://www.youtube.com/watch]').each(function(){
            $(this).fancybox({
                  'padding'             : 0,
                  'autoScale'           : false,
                  'overlayShow'         : false,
                  'transitionIn'        : 'elastic',
                  'transitionOut'       : 'elastic',
                  'easingIn'            : 'easeOutBack',
                  'easingOut'           : 'easeOutBack',
                  'opacity'             : true,
                  'title'               : this.title,
                  'titlePosition'       : 'inside',
                  'titleFormat'         : function formatTitle(title, currentArray, currentIndex, currentOpts) {
                                          return '<div><div id="fb-caption">' + (title && title.length ? title : '' )  + '</div><div id="fb-nav"><div>'+ (currentIndex + 1) + ' / ' + currentArray.length + '</div><a href="javascript:;" onclick="$.fancybox.prev();"><img alt="prev" src="/static/fancybox/fancy_nav_left.png"/></a><a href="javascript:;" onclick="$.fancybox.next();"><img alt="next" src="/static/fancybox/fancy_nav_right.png"/></a><a id="close-button" href="javascript:;" onclick="$.fancybox.close();"><img alt="close" src="/static/fancybox/fancy_close.png"/></a></div></div>';
                                          },
                  'showCloseButton'     : false,
                  'showNavArrows'       : false,
                  'cyclic'              : true,
                  'centerOnScroll'      : true,
                  'width'               : 680,
                  'height'              : 480,
                  'href'                : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                  'type'                : 'swf',
                  'swf'                 : {'allowfullscreen':'true'}
                  });
    });
{% endblock %}

{% block header %}
    <h1><a href="{% url show-artist uri_artist mbid %}">{{ artist_videos.artist_name|addtypography }}</a>
        <small>videos</small>
    </h1>
{% endblock %}

{% block navigation %}{% include "artists/artistnav.html" %}{% endblock %}

{% block content %}
<section class="generic nineforty end">
{% if artist_videos.youtube_channel %}
<h1>Official Youtube channel</h1>
<p>Videos published on official <a href="{{ artist_videos.youtube_channel }}">{{ artist_videos.artist_name }} YouTube channel</a></p>
{% else %}
<h1>Youtube</h1>
<p>There is no official video channel avaiable, but some of YouTube videos dispalyed here using universal search may be related.</p>
{% endif %}
</section>

<section class="generic nineforty end">
<ul id="youtube-videos" class="gfx">
{% for video in artist_videos.youtube %}
<li><a rel="youtube" href="{{ video.url }}" title="{{ video.title }}"><img src="{{ video.thumb }}" alt="" />
    <div>{{ video.title }} <span>({{ video.duration }}s)</span></div></a>
</li>
{% endfor %}
<li><a href="{% if artist_videos.youtube_channel %}{{ artist_videos.youtube_channel }}{% else %}http://www.youtube.com/results?search_category=10&search_query={{ artist_videos.artist_name }}&search_type=videos{% endif %}"><img src="http://youtube.com/favicon.ico" />
    <div>→ See more videos at YouTube</div></a>
</li>
</ul>
</section>
{% endblock %}
