{% extends "base.html" %}
{% load release_helpers %}
{% block title %}{{ artist_videos.artist_name }} - artist videos page at music.aergia.eu{% endblock %}
{% block header %}
<h1>motherfuckin' artist videos</h1>
<h2><a href="{% url show-artist uri_artist mbid %}">{{artist_videos.artist_name}}</a></h2>

{% endblock %}
{% block content %}

{% if artist_videos.youtube_channel %}
Videos published on official <a href="{{ artist_videos.youtube_channel }}">{{ artist_videos.artist_name }} YouTube channel</a>
<h5>Official Youtube channel:</h5>
{% else %}
There is no official video channel avaiable, but some of YouTube videos dispalyed below may be related.
<h5>Youtube</h5>
{% endif %}

<ul id="youtube-videos">
{% for video in artist_videos.youtube %}
<li><a href="{{ video.url }}"><img src="{{ video.thumb }}" width="120" height="90" /><br>{{ video.title|truncatewords:5 }}</a> <small>({{ video.duration }}s)</small></li>
{% endfor %}

</ul>
{% endblock %}
