{% extends "base.html" %}
{% load release_helpers %}

{% block bodytag %}<body id="a-pictures">{% endblock %}
{% block title %}{{ artist_pictures.artist_name }} - artist pictures page at music.aergia.eu{% endblock %}

{% block header %}
<h1><a href="{% url show-artist uri_artist mbid %}">{{ artist_pictures.artist_name|addtypography }}</a>
    <small>pictures</small>
</h1>
{% endblock %}

{% block navigation %}{% include "artists/artistnav.html" %}{% endblock %}

{% block content %}

{% if artist_pictures.lastfm or artist_pictures.flickr %}
<section class="generic sixforty clear">
<h1>Last.fm</h1>
<p>Top-rated images in descending order.</p>
{% if artist_pictures.lastfm %}
{% for image in artist_pictures.lastfm %}
    <a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="126" height="126" alt="{{ image.title }}"  /></a>
{% endfor %}
{% else %}
<p>Sorry, nothing here <big>:'-(</big></p>
{% endif %}
</section>

<section class="generic twoeighty end">
<h1>Flickr</h1>
<p>Top results  for “{{ artist_pictures.artist_name }}” tag. </p>
{% if artist_pictures.flickr %}
{% for image in artist_pictures.flickr %}
    <a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="75" height="75" alt="{{ image.title }}"  /></a>
{% endfor %}
{% else %}
<p>Sorry, nothing here <big>:'-(</big></p>
{% endif %}
</section>

{% else %}

<section class="generic nineforty end">
<p>Sorry, nothing here <big>:'-(</big></p>
</section>

{% endif %}

{% endblock %}
