{% extends "base.html" %}
{% load release_helpers %}

{% block bodytag %}<body id="a-pictures">{% endblock %}
{% block title %}{{ artist_pictures.artist_name }} - artist pictures page at music.aergia.eu{% endblock %}

{% block header %}
<h1><a href="{% url show-artist uri_artist mbid %}">{{ artist_pictures.artist_name }}</a>
    <small>pictures</small>
</h1>
{% endblock %}

{% block navigation %}{% include "artists/artistnav.html" %}{% endblock %}

{% block content %}

<section class="generic fiveeighty">
<h1>Last.fm</h1>
<p>Images rated by users in descending order.</p>
<p>
{% for image in artist_pictures.lastfm %}
    <a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="126" height="126" alt="{{ image.title }}"  /></a>
{% endfor %}
</p>
</section>

<section class="generic threeforty end">
<h1>Flickr</h1>
<p>Top results  for “{{ artist_pictures.artist_name }}”: </p>
<p>
{% for image in artist_pictures.flickr %}
    <a href="{{ image.url }}"><img src="{{ image.sq|coralize }}" width="75" height="75" alt="{{ image.title }}"  /></a>
{% endfor %}
</p>
</section>

{% endblock %}
