/* Selection of classes from:
 * TYPOGRIDPHY - TYPOGRAPHICAL AND GRID LAYOUT CSS FRAMEWORK FROM HARRY ROBERTS OF CSS WIZARDRY 
 * v 0.1.1 / May 2008 /  http://csswizardry.com
 * */

/* RESET CSS */
body,div,header,article,section,aside,footer,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
	margin:0;
	padding:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
/* END RESET CSS */

/* MAIN STRUCTURE STYLES */
html{
	font-size:100%;
	min-height:101%;
}


body{
	font-size:62.5%;
    font-family: verdana, helvetica, arial, sans-serif;
	color:#555;
	background:/*url(images/grid.gif) top center repeat-y*/ #eee; /* Uncomment to display the grid */
	border-top:0.5em solid #66c;
	padding:0 1em;
    text-shadow:1px 1px 1px #eee;

}
div#wrapper{
	width:94em;
	margin:0 auto;
    border-left: 15px solid #fff;
    border-right:15px solid #fff;
    height:100%;
    background: #fff;
    overflow:hidden;
    position:relative;
}
#header{
	width:94em;
	float:left;
	padding-top:2.5em;
	margin-bottom:2em;
}

/*GRIDS*/

.generic{
	border-top:0.5em solid #66c; /* The border at the top of each grid */
	float:left;
	padding-top:1em;
	margin-bottom:2em;
}
/* Sets styles for any 'start' grids - this class MUST be given to a grid that is the first in a horizontal series */
.clear{
	clear:both;
}
/* Sets styles for any 'end' grids - this class MUST be given to a grid that is the last in a horizontal series */
.end{
	margin-left:0 !important;
	margin-right:0 !important;
}
/* 220px */
.twotwenty{
	width:22em;
	margin-right:2em;
}
/* 280px */
.twoeighty{
	width:28em;
	margin-right:2em;
}
/* 340px */
.threeforty{
	width:34em;
	margin-right:2em;
}
/* 400px */
.fourhun{
	width:40em;
	margin-right:2em;
}
/* 460px */
.foursixty{
	width:46em;
	margin-right:2em;
}
/* 520px */
.fivetwenty{
	width:52em;
	margin-right:2em;
}
/* 580px */
.fiveeighty{
	width:58em;
	margin-right:2em;
}
/* 640px */
.sixforty{
	width:64em;
	margin-right:2em;
}
/* 700px */
.sevenhun{
	width:70em;
	margin-right:2em;
}
/* 760px */
.sevensixty{
	width:76em;
	margin-right:2em;
}
/* 820px */
.eighttwenty{
	width:82em;
	margin-right:2em;
}
/* 880px */
.eighteighty{
	width:88em;
	margin-right:2em;
}
/* 940px */
.nineforty{
	width:94em;
}

/*PARAGRAPHS*/

.generic p{
	font-size:1.2em;
	line-height:1.5em;
	margin-bottom:1.5em;
}
/* Styles an introductory paragraph, similar to newspapers. Assign this class to the first paragraph in an article */
p.intro:first-line{
	font-variant:small-caps;
}
/* Styles a drop cap on each paragraph with this class */
p.drop:first-letter{
	float:left;
	font-size:2em;
	margin-top:-0.05em;
	margin-right:0.05em;
	margin-bottom:-0.5em;
}

/* OTHER*/

blockquote p{
    font-family: Georgia, Garamond, "Times New Roman", serif;
	font-size:1.4em!important;
	line-height:1.7em!important;
    text-align: justify;
	margin-bottom:1.3em!important;
}

.generic strong{
	font-variant:small-caps;
}
.generic em{
	font-style:italic;
	font-weight:inherit;
}
.amp{ /* Give those ampersands a right sexy look */
	font-family:Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style:italic;
	font-weight:normal;
	line-height:inherit;
}
abbr{
	border-bottom:1px dotted #666;
	border-color:inherit;
	cursor:help;
}
.clear{
	clear:both;
}
.right-float{ /* Float any item to the right */
	float:right;
	margin-left:2em;
	margin-right:0;
}
.left-float{ /* Float any item to the left */
	float:left;
	margin-right:2em;
	margin-left:0;
}
.code{ /* Styling for and code type items */
	font-family:Courier, "Courier New", monospace;
	background:#ddd;
	font-size:1em;
}
/* IMAGE STYLES */
img{
	font-size:1em;
}
img.left-img{ /* Float any image to the LEFT and give it some margin */
	font-size:1em;
	float:left;
	padding:4px;
	border:1px solid #ccc;
	margin-bottom:1.8em;
	margin-right:2em;
	margin-top:0.3em;
}
img.right-img{ /* Float any image to the RIGHT and give it some margin */
	font-size:1em;
	float:right;
	padding:4px;
	border:1px solid #ccc;
	margin-bottom:1.8em;
	margin-left:2em;
	margin-top:0.3em;
}

/* LIST STYLES */
ul li a,
ol li a {
	white-space:nowrap;
}
ul{
	margin-bottom:1.8em;
	list-style:square inside;
}
ul li{
	font-size:1.3em;
	line-height:1.6em;
}
ul li.caption{ /* Apply this class to the first list item in a list to give it a caption */
	font-variant:small-caps;
	list-style:none;
	color:#000;
}
li > ul, li > ol{
	margin-bottom:0;
	margin-left:5em;
}
li > ul li, li > ol li{
	font-size:1em;
}
ol{
	margin-bottom:1.8em;
	list-style:decimal inside;
}
ol li{
	font-size:1.2em;
	line-height:1.5em;
}


/* THE END, REST IS MINE LOL */


.artistgfx {
    height: 145px;
    overflow: hidden;
}
.artistgfx a {
    display: inline;
    height:126px;
    width:126px;
}
.artistgfx a:hover {
    background:none;
}
.artistgfx img {
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    margin-right:5px;
    margin-left:5px;
    margin-top:10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}


/* url padding fix */
ul#related-urls li {
    display: block;
}
ul#related-urls .many {
    padding-left: 3px;
}

	/*background-image:url('http://imgur.com/jZEss.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#657077;
	margin:40px;*/
h1 {
    font-family: Georgia, Garamond, Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 500%;
    text-shadow: 1px 1px 0 #FFFFFF;
    letter-spacing: 0px;
}
#header h1 {
    text-shadow: 1px 1px 3px #ccc;
}
h1 small {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
	white-space:nowrap;
}

a {
    text-decoration:none;
    color:#66c;
    padding:3px;
}
a:hover {
    /*border-bottom: 1px solid black;*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#66c;
    color:#fff;
    text-shadow:1px 1px 1px #333;

}
ul{
	list-style:square inside;
	margin-bottom:1.8em;
}
/*
body {

    font-size: 84%;
    //font-family: Arial, Helvetica, sans-serif;
    padding: 0.75em;
    min-width: 45em;
}*/


#content h1 {
    border-bottom: 1px dotted  #66c;
    margin-bottom: 5px;
    margin-top: 8px;
    font-size: 20px;
}

#content h2 {
    margin-top: 8px;
    font-size: 12px;
}

#searchbox {
    display: block;
    position: absolute;
    top:-0.5em;
    right:0px;
    background:#66c;
    text-shadow:none;
    color:#fff;
    width:41em;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#searchbox fieldset {
    padding-bottom:3px;
    text-align:center;
}

cite#abstractsource { /* mine */
    margin-top:-1.3em;
    display:block;
}
cite#abstractsource:before {
    content:'❦';
    font-size:200%;
}

/* NAV */

nav ul {
    margin-bottom: 1px;
    padding-left: 10px;
    list-style-type: none;
    text-align: left;
}

nav ul li {
    display: inline;
}

body#a-profile  li.a-profile a,
body#a-pictures li.a-pictures a,
body#a-videos   li.a-videos a,
body#a-news     li.a-news a
{
    /*top: -1px;*/
    /*padding-top: 8px;*/
    position: relative;
    color: #000;
    background-color: #fff;
}

nav ul li a {
    padding: 3px 4px;
    margin-right: 0px;
    text-decoration: none;
    border: 1px solid #66c;
    border-bottom: none;
    color: #666;
    background-color: #ccf;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ffc !important;
    color:#333 !important;
    text-shadow:1px 1px 1px #ccc;
}

nav ul li a,
nav ul li a:hover {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}




    /* TAG CLOUD PROTOTYPE */
    ul.tag-cloud {
        text-align: center;
        padding: 5px;
        /*background-color: #FFFFCC;*/
        margin:0;
        display:block;
    }
    /* TODO: make django tag that makes cloud from list */
    ul.tag-cloud li {
        display: inline;
    }
    ul.tag-cloud a {
        color: #223;
        vertical-align:middle;
        line-height: 1.4em;
    }
    ul.tag-cloud a:hover {
        color: #fff;
    }
    .tag-0 {
        font-size: 9px;
    }
    .tag-1 {
        font-size: 11px;
    }
    .tag-2 {
        font-size: 15px;
    }
    .tag-3 {
        font-size: 18px;
    }
    .tag-4 {
        font-size: 20px;
    }
    #youtube-videos {display:block; text-align: center}
    #youtube-videos li {float:left; margin: 5px; display:block; position:relative; padding: 5px; font-size: x-small; border: 1px solid #888; max-width: 130px; height:150px;}


/* NEWS FEED */
ul.news-stream {
    margin-left:5px;
    margin-right:5px;
}
ul.news-stream li {
    display: block;
	font-size: 1em;
}
ul.news-stream li h1 {
        text-transform: uppercase;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
}
ul.news-stream li h1 small {
        float:right;
}

blockquote .opener{
    color:#ccf;
    display:block;
    float:left;
    font-family: Georgia, Garamond, "Times News Roman", serif;
    font-size: 10em;
    margin: 25px 10px 0 -25px;
    padding-right: 10px;
    text-align:right;
    width:3px;
    /*border: 1px solid red;*/
}
ul.news-stream li blockquote cite {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size:0.8em;
    margin-bottom:20px;
    white-space: nowrap;
}
ul.news-stream li blockquote cite:before {
    content:'– ';
    font-size:100%;
}


/* TRACKLISTING */
ol.tracklisting {
    list-style-type: decimal-leading-zero;
    position:relative;
    display:block;
    margin-right:18em;
}
ol.tracklisting li {
    /*text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;*/
    margin-bottom:0.5em;
}
ol.tracklisting li span {
	font-family: monospace;
    position:absolute;
    right:0;
}
img.artwork {
    display:block;
}


/* multicolumn search result */
ol#tag-search-result {
    float: left;
    width: 94em;
    margin: 0;
    padding: 0;
    list-style-type: decimal-leading-zero;
}
ol#tag-search-result li {
    float: left;
    width: 12em;
    margin: 0;
    padding: 0;
    font-size:2.5em;
}


/* ARTIST DISCOGRAPHY */

/* list of release types */
#artist-releases * { /* make local reset, just to be sure it wont break in future */
    margin:0;
    padding:0;
}
#artist-releases a {
    padding:3px;
}
#artist-releases #release-types { /* hide if no javascript */
     display: none;
}
.ui-tabs .ui-tabs-hide {
     display: none;
}
#artist-releases #release-types li {
    display:inline;
    border-right: 1px solid #ccc;
    padding: 0 5px 0 2px;
}
#release-types a {
    color: #666;
}
#release-types a:hover {
    color: #fff;
}

li.ui-tabs-selected a {
    font-weight: bold;
}
li.ui-tabs-selected a:before {
	content:'☉ ' !important;
}
.last {
    border-right: none !important;
}

/* release-list*/
ul.release-list {
    margin-top: 1em !important;
}
li.title,
li.year,
li.type {
    list-style-type:none;
    font-family: Georgia, Garamond, "Times New Roman", serif;
}
li.type h2 {
    padding-top: 0.5em !important;
    font-size: 1.2em !important;
}
li.year ul {
    margin: 0.25em 0 0.25em 3.5em !important;
    font-size: 1.4em !important;
}
li.year h3 {
    border-top:1px dotted #eee;
    color: #aaa;
    padding-top: 0.5em !important;
    margin-bottom:-2em !important;
    font-size: 1.1em !important;
    display:block;
}
li.title {
	white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

