{% extends "base.html" %}
{% load release_helpers %}
{% block title %}{{ artist.name }} - news page at music.aergia.eu{% endblock %}
{% block header %}
<h1>motherfuckin' news</h1>
<h2>about “<a href="{% url show-artist uri_artist mbid %}">{{ artist.name }}</a>”</h2>

{% endblock %}
{% block content %}

{% if recent_news %}
<ul>
{% for news in recent_news %}
<li><h5>{{ news.title }}</h5><small>{{ news.date }}</small>
<p>{{ news.summary|escape }}</p>
<p><a href="{{ news.url }}">read more at {{ news.src }}</a></p></li>
{% endfor %}
</ul>
{% else %}
Sorry, no news about this artist are avaiable at the moment..  <big> :'-( </big>
{% endif %}

{% endblock %}
