{% extends "base.html" %}
{% load release_helpers %}
{% block title %}{{ artist.name }} - news page at music.aergia.eu{% endblock %}
{% block header %}
<h1>motherfuckin' news</h1>
<h2>about “<a href="{% url show-artist uri_artist mbid %}">{{ artist.name }}</a>”</h2>

{% endblock %}
{% block content %}

{% if recent_news.sources %}

News articles presented here are fetched from:
<ul>
{% for feed_url,feed in recent_news.sources.items %}
<li><a href="{{ feed.url }}">{{ feed.name }}</a> (<a href="{{ feed_url }}">feed</a>)</li>
{% endfor %}
</ul>


<h3>News stream</h3>

<ul>

{% for feed_url,feed in recent_news.sources.items %}
{% for news in feed.items %}

<li><h5><a href="{{ news.url }}">{{ news.title|safe }}</a></h5><small>{{ news.date|pprint }}</small>
{% if news.summary %}<p>{{ news.summary|truncatewords_html:100|safe }}</p>{% endif %}
<p>read {% if news.summary %}more{% endif %} at <a href="{{ news.url }}">{{ feed.name }}</a></p></li>

{% endfor %}
{% endfor %}

</ul>
{% else %}
Sorry, no news about this artist are avaiable at the moment..  <big> :'-( </big>
{% endif %}

{% endblock %}
