{% extends "base.html" %}
{% load release_helpers %}
{% block bodytag %}<body id="a-news">{% endblock %}
{% block title %}{{ artist.name }} - news page at music.aergia.eu{% endblock %}
{% block meta %}
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/artist/{{ uri_artist }}/news/{{ mbid}}/feed/" />
<meta name="robots" content="noindex,nofollow,noarchive"/>
{% endblock %}
{% block header %}
<h1><a href="{% url show-artist uri_artist mbid %}">{{ artist.name|addtypography }}</a>
    <small>news stream</small>
</h1>
{% endblock %}

{% block navigation %}{% include "artists/artistnav.html" %}{% endblock %}

{% block content %}
<section class="generic twoeighty">
{% if news_stream %}
<h1>News stream sources</h1>

<p>Articles presented here are fetched from:</p>
<ul>
{% for src in news_sources %}
<li><a href="{{ src.url }}">{{ src.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
<h1>Feed</h1>
<p><a href="/artist/{{ uri_artist }}/news/{{ mbid}}/feed/" rel="alternate" type="application/rss+xml"><img alt="" style="vertical-align:middle;border:0" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png"/></a>
<a href="/artist/{{ uri_artist }}/news/{{ mbid}}/feed/">Subscribe to Atom feed</a></p>

</section>
<section class="generic sixforty end">
{% if news_stream %}


<ul class="news-stream">

{% for news in news_stream %}

<li><h1><a href="{{ news.url }}">{{ news.title|safe }}</a> <small>{{ news.date|iso2date|date }}</small></h1>
{% if news.summary %}<blockquote cite="{{ news.url }}"><p><span class="opener">“</span>{{ news.summary|truncatewords_html:100|safe }}” <cite>read {% if news.summary %}more{% endif %} at <a href="{{ news.url }}">{{ news.source }}</a></cite></p></blockquote>{% endif %}
</li>

{% endfor %}

</ul>
{% else %}
<p>Sorry, no news about this artist is avaiable at the moment..  <big> :'-( </big></p>
{% endif %}
</section>
{% endblock %}
