<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
{% block meta %}{% endblock %}
  <meta name="robots" content="NONE,NOARCHIVE" />
  <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/mmda.css" media="screen" />


<!--[if lte IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
{% block bodytag %}<body>{% endblock %}

<div id="wrapper">

<header id="header" class="generic">
{% block header %}{% endblock %}
</header>

{% block navigation %}{% endblock %}

<article id="content">
{% block content %}{% endblock %}
</article>


<aside id="searchbox">
<form action="/search/" method="post">
<fieldset>
    <label for="type">Search for</label>
    <select id="type" name="type">
        <option value="artist">Artist</option>
        <option value="release">Release</option>
        <option value="tag">Tag</option>
    </select>
    <label for="query">called</label>
        <input type="text" id="query" name="query" tabindex="1" value="">
    <button tabindex="2" class="search-button" type="submit"><span>Search</span></button>
</fieldset>
</form>
</aside>

<footer id="foot">{% block footer %}{% endblock %}</footer>
</div>
</body>
</html>

