<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/mmda.css" media="screen" />
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://www.google.com/jsapi"></script>
    <script>
    // Load jQuery
    google.load("jquery", "1.4.2");
    google.load("jqueryui", "1.8.0");
    </script>

{% block meta %}{% endblock %}

<script src="/static/js/jquery.favicons.min.js"></script>
<script src="/static/js/jquery.lazyload.min.js"></script>

<script>
google.setOnLoadCallback(function() {
    $('.favicons').favicons({insert: 'insertBefore', defaultIco: 'http://www.askthecssguy.com.nyud.net/examples/faviconcues/external.gif'});

{% block jquery %}{% endblock %}
});
</script>

</head>
{% block bodytag %}<body>{% endblock %}<div id="wrapper">

<header id="header">
{% block header %}{% endblock %}
</header>

{% block navigation %}{% endblock %}

<article>
{% block content %}{% endblock %}
</article>

<footer class="generic nineforty">MMDA 1.0 powered by MusicBrainz, Wikipedia, Last.fm, Flickr and Youtube APIs.
{% block footer %}{% endblock %}
</footer>

<aside id="searchbox">
<form action="/search/" method="post">
<fieldset>
    <label for="type">Search for</label>
    <select name="type">
        <option value="artist">Artist</option>
        <option value="release">Release</option>
        <option value="tag">Tag</option>
    </select>
    <label for="query">called</label>
        <input type="text" name="query" tabindex="1" value="">
    <button tabindex="2" type="submit"><span>Search</span></button>
</fieldset>
</form>
</aside>

</div>
</body>
</html>

