{% extends "base.html" %}
{% load release_helpers %}
{% block title %}mmda{% endblock %}

{% block header %}
<h1>Welcome to <a href="/">MMDA</a>

    <small>Music MetaData Aggregator</small></h1>
{% endblock %}

{% block content %}

<section class="generic fiveeighty clear">
    <h1>What is MMDA?</h1>
    <p>This site is a poof-of-concept mashup that uses music related APIs, Python language and CouchDB to provide information about artists..</p>

    <h1>Alpha version status</h1>
    <p>Project is under heavy development and 500 errors may occur.</p>
    <p>Send any feedback to: <code><a href="http://www.google.com/recaptcha/mailhide/d?k=01dMVaWYhwVKLlS2_dftzp6A==&amp;c=qLzBkM6ubM3tvi58NTV-Cw==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501dMVaWYhwVKLlS2_dftzp6A\75\75\46c\75qLzBkM6ubM3tvi58NTV-Cw\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@aergia.eu</code></p>
</section>

<section class="generic threeforty end">
    <h1>Recently cached artists</h1>

    <ul>
        {% for artist in recent_artists %}
        <li><a href="{% url show-artist artist.name|slugify2 artist.mbid %}">{{ artist.name }}</a></li>
        {% empty %}
        <li> no info, yet</li>
        {% endfor %}
    </ul>

</section>

{% endblock %}
